
.tasks-box {
    /* background-color: aquamarine; */
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;

}


.task {
    background-color: #f2f2f2;
    padding: 6px;
    border-radius: 6px;
}


.task-options {
    width: 100%;
}
